# Medical Cost Project
***
***

# Goals
***
- Draw insights about what drives medical charges
- Create a machine learning model that can effectively predict medical costs

# Setup
***

In [100]:
import pandas as pd

# Acquire
***

In [107]:
df = pd.read_csv('insurance.csv')

In [108]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [109]:
df.region.value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

__The following changes will need to be made to the data__


- Scale non-target variable numerical columns
    - age
    - bmi
    - children


- Create boolean columns for categorical variables
    - sex
    - smoker
    - region
    
    
- No nulls to address


- Data types are appropriate for the operations I intend to perform on them


- Split data in train, validate, test sets

In [111]:
df_dummies = pd.get_dummies(df, columns = ['sex', 'region' , 'smoker'], prefix = ['is','region', 'smoker'])

df_dummies = df_dummies.drop(columns = ['is_male', 'smoker_no'])

df_dummies.rename(columns = {'smoker_yes' : 'is_smoker'}, inplace=True)

df_dummies = df_dummies[['is_female', 'region_northeast', 'region_northwest', 'region_southeast', 'region_southwest', 'is_smoker']]

df = pd.concat([df, df_dummies], axis = 1)

df.head()

,age,sex,bmi,children,smoker,region,charges,is_female,region_northeast,region_northwest,region_southeast,region_southwest,is_smoker
0,19,female,27.900,0,yes,southwest,16884.92400,1,0,0,0,1,1
1,18,male,33.770,1,no,southeast,1725.55230,0,0,0,1,0,0
2,28,male,33.000,3,no,southeast,4449.46200,0,0,0,1,0,0
3,33,male,22.705,0,no,northwest,21984.47061,0,0,1,0,0,0
4,32,male,28.880,0,no,northwest,3866.85520,0,0,1,0,0,0